
target/
!.mvn/wrapper/maven-wrapper.jar


*.class


*.log


.idea/
*.iml


.project
.classpath
.settings/
.factorypath


.vscode/


.DS_Store
Thumbs.db


*.mv.db
*.trace.db





bin/
out/

spring.log
